/**
 * Colors
 */
 $white: #ffffff;
 $black: black;
 $green-light: rgba(255, 255, 226, 0.17);
 $grey-light: #eee;
 $grey-dark700: rgba(51, 51, 51, 0.69);
 $grey-dark900: rgba(51, 51, 51, 0.95);
 $pink: #E42166;
 $green: #4CAF50;

/**
 * Semantic colors
 */
$color-text-body: $grey-dark700;
$primary-color: $pink;
$secondary-color: $green;
