@import "~styles/colors";
@import "~styles/fonts";
@import "~styles/breakpoints";

body {
  margin: 0;
  font-family: $primary-font;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  letter-spacing: 0;
}

h1 {
  font-size: 60px;
  line-height: 62px;
  font-weight: 500;
  font-family: $secondary-font;
  color: $grey-dark900;

  @include breakpoint(medium) {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
  }
}

.TextLink {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: $grey-dark900;

  &:hover {
    transition: all .15s ease-out;
    opacity: 0.6;
  }
}
